language: java
sudo: false
install: true
addons:
  sonarqube:
    organization: vivekpn-github
    token:
      secure: NjClLSPVvSj6PclfCinekYYVvwJi35e0Fx66NMAu7Bo9+LyANkB69Fc3hM2ZBCXQtQKdshLU+aRBCevkYWI2C411ktqRH53SPNkT3DSRhyrjtMSOJXDEshYM6UbpEQLHV+tcwbzQSzUSXR8CmQ7wEeYbXbSIXtzt2XI3R66xAyVB26r5zSALby5einAaUbTOmbqkvYDLVd1sIle3fvVaDfQyhmHnSpfGQD2OcqJmAmwN9bjZUFqmgkzN9DAIw5IWV7lRvKQ4An5zvuZuOy+kLaLd/Ilc0WwGqtmiV640gX6eBVpACG8PTWULttfdMoeksrUld6knMtyxwd3uxjR/HOVontw0ZBDvimuiljnQf37TjgOjymVGDmovQEMgxcXqsTrNIhIyvGzg4VwDX5EmLCbnuy4P0x+/nGSnXqYrYy/GsIvGIf9niqG1gXiFvFddFgpQAp4m2tpReFc7Jw3C0tDOhZMAkk3yFFx1EPBO92mrcATncnz7XXEqaaXrtSsyi+Ux2AWrBIyONwi7Ngc5wMSuvVTclUj728JQn6tTR9IRJ/TCJb4Xm/FaGFiJHDheeAlODFqhT0i0tZzBwI4nvqKJ3uDrll7GNOCLVfS5BlrVBLrAqJjMlhBPHCMTKEXFBAtEMDfX309CdJHPNy5dlGWS4c4/ZpcFHe2GQkFEDWk=
jdk:
  - oraclejdk8
script:
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar
cache:
  directories:
    -  ~/.m2/repository
    -  ~/.sonar/cache
notifications:
  email:
    on_success: never
    on_failure: change
